@import "../../../style/colors";
@import "../../../style/utils/typography";

.input {
  width: 200px;

  padding: 3px 0 3px 10px;

  outline: none;
  background-color: $weather-main-color;
  border: none;

  @extend .placeholder-typography;

  &::placeholder {
    color: $weather-black;
  }
}
